/* Purple strip */


/* Page layout */
.signup-container {
  max-width: 1100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 60px 20px;
}

/* Form section */
.signup-form {
  width: 50%;
}

.signup-form h1 {
  text-align: center;
  margin-bottom: 10px;
}

.login-text {
  text-align: center;
  margin-bottom: 40px;
  font-weight: 600;
}

.login-text a {
  color: black;
  text-decoration: underline;
}

/* Inputs */
.signup-form label {
  display: block;
  margin-bottom: 6px;
  font-weight: 500;
}

.signup-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 25px;
  border: 1px solid #666;
  box-sizing: border-box;
}

/* Button */
.signup-form button {
  width: 100%;
  padding: 12px;
  background-color: #0b5cff;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

/* Image section */
.signup-image {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-image img {
  max-width: 520px;
}

.auth-container {
  display: flex;
  height: 100vh;
  padding: 50px;
}

.form-box {
  flex: 1;
}

.form-box h1 {
  font-size: 40px;
}

.form-box label {
  display: block;
  margin-top: 20px;
}

.form-box input {
  width: 80%;
  padding: 10px;
  margin-top: 5px;
}

.form-box button {
  margin-top: 30px;
  width: 80%;
  padding: 12px;
  background-color: #71d9aa;
  color: white;
  border: none;
  font-size: 16px;
}

.image-box {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-box img {
  width: 600px;
}

.subtitle {
  color: #555;
  margin-bottom: 30px;
}

.link {
  color: #e30b48;
  text-decoration: none;
  font-weight: 500;
}